.finder-board {
    box-sizing: border-box;
    width: 96vw;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    margin: 2vw;
}

.query-string-row {
    display: flex;
    align-items: baseline;
    padding: .6em;
    margin: .3em;
    font-size: 1.5vmax;
    width: 100%;
}

.address-string {
    padding: .2em;
    font-size: 1.5vmax;
    margin: 0 .4em;
    width: inherit;
}

.query-input {
    width: 80%;
}